/*-------------EXTENSION------------------*/
.ext-main-container {
  font-family: 'Vesper Libre bold';
  font-size: medium;
  color: #364c63;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
}

input[type='text'] {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid #364c63;
  border-radius: 4px;
  font-family: 'Vesper Libre bold';
  color: #364c63;
  font-size: medium;
}

input[type='password'] {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid #364c63;
  border-radius: 4px;
  font-family: 'Vesper Libre bold';
  color: #364c63;
  font-size: medium;
}

label {
  display: block;
  margin-bottom: 3px;
  margin-top: 7px;
}

.select {
  border: 1px solid #364c63;
  border-radius: 4px;
}

.button {
  background-color: #f14a6585;
  font-family: 'Vesper Libre bold';
  color: #364c63;
  border-radius: 4px;
  font-size: medium;
  padding: 6px 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
